@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Light Gray Palette */
    --gray-50: #ffffff;
    --gray-100: #f9fafb;
    --gray-200: #f3f4f6;
    --gray-300: #e5e7eb;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --gray-950: #030712;

    /* Dark Gray Palette */
    --dark-gray-50: #030712;
    --dark-gray-100: #111827;
    --dark-gray-200: #1f2937;
    --dark-gray-300: #374151;
    --dark-gray-400: #4b5563;
    --dark-gray-500: #6b7280;
    --dark-gray-600: #9ca3af;
    --dark-gray-700: #d1d5db;
    --dark-gray-800: #e5e7eb;
    --dark-gray-900: #f3f4f6;
    --dark-gray-950: #f9fafb;

    /* Emerald */
    --emerald: #10b981;
    --rojo: #e63c16;
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1em 0 5em 5em;
}

.nav-right {
    display: flex;
}

.nav-right .items {
    padding: 0 1em;
}

.nav-right-actions {
    display: flex;
    margin-right: 5em;
}

.nav-right-actions button {
    background-color: var(--dark-gray-100);
    border: transparent;
    border-radius: 12px;
    color: var(--gray-50);
    font-weight: 200;
    padding: 0 1em;
}

.nav-right-actions p {
    padding: 0 1em;
}

.hero {
    margin: 0 5em;
}

.top-hero {
    margin-bottom: 2em;
}

.top-hero h1 {
    margin-bottom: 10px;
}