@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Light Gray Palette */
    --gray-50: #ffffff;
    --gray-100: #f9fafb;
    --gray-200: #f3f4f6;
    --gray-300: #e5e7eb;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --gray-950: #030712;

    /* Dark Gray Palette */
    --dark-gray-50: #030712;
    --dark-gray-100: #111827;
    --dark-gray-200: #1f2937;
    --dark-gray-300: #374151;
    --dark-gray-400: #4b5563;
    --dark-gray-500: #6b7280;
    --dark-gray-600: #9ca3af;
    --dark-gray-700: #d1d5db;
    --dark-gray-800: #e5e7eb;
    --dark-gray-900: #f3f4f6;
    --dark-gray-950: #f9fafb;

    /* Emerald */
    --emerald: #10b981;
    --rojo: #e63c16;
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

.landing-page {
    height: 100vh;
    margin: 0 8em;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
}

.nav-right {
    display: flex;
}

.nav-right .items {
    padding: 0 1em;
}

.nav-right-actions {
    display: flex;
    align-items: center;
}

.cta-btn {
    color: var(--gray-50);
    background-color: var(--dark-gray-50);
    border: none;
    border-radius: 8px;
    font-weight: 200;
    padding: 8px 18px; 
    line-height: 0.5;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 10em;
}

.top-hero {
    margin-bottom: 2em;
}

.top-hero h1 {
    margin-bottom: 10px;
}

.hero-right img {
    width: 300px;
    height: auto;
}

.location,
.available,
.lower-hero {
    display: flex;
}

.location p,
.available p {
    padding-left: 10px;
}

.available {
    margin-top: 1em;
}

.lower-hero {
    margin-top: 2em;
}