@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* New Update */
* {
    box-sizing: border-box;
    color: rgb(31, 31, 31);
    margin: 0em;
    padding: 0em;
}

body {
    font-family: "Space Mono", monospace;
    height: 100%;

    width:100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

h4 {
    font-family: 'Playfiar Display', serif;
    align-self: center;
}

header h1 {
    font-family: "Playfair Display", serif;
    font-size: 65px;
    letter-spacing: 4px;
    margin-bottom: 0.15em;
    margin-top: 0.25em;
}

.experience-container {
    margin-top: 1em;
    padding: 0em 2em 0em 2em;
}

.experience-info {
    padding: 0.5em 0em 2em 0em;
}

.intro-container {
    padding: 1em 2em 1em 2em;
}

.job-title {
    margin: 0em 0em 0.55em 0em;
}

.last-experience-item {
    padding-bottom: 1em;
}

.left-half {
    margin-left: 2em;
    padding: 1em 0;
}

.line {
    border-color: rgba(31, 31, 31, 0.355);
    margin: 0em 2em;
}

.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    overflow-y: auto;
}


.point {
    width: 2px;
    height: 2px;
    background-color: rgba(0, 0, 255, 0.8);
    border-radius: 50%;
}

.point-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    width: 50vw;
    height: 50vw;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.social-items-computer {
    display: none;
}

.social-items-mobile {
    margin-top: 1em;
}

.social-item {
    margin-right: 1em;
    padding-bottom: 1em;
}

::selection {
    color: #f2f2f2;
    background: rgb(31, 31, 31);
}

a:link {
    color: none;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: none;
}

a:hover {
    color: #5a0fcb;
    text-decoration: none;
}

a:active {
    color: f2f2f2;
}

:root {
    --size: 300px;
}

@supports (mix-blend-mode: soft-light) and (filter: blur(1px)) {
    .dot {
        display: block;
        position: absolute;
        width: var(--size);
        height: var(--size);
        mix-blend-mode: soft-light;
        border-radius: 50%;
        filter: blur(calc(var(--size) / 6));
        z-index: -1;
    }

    .dot-1 {
        left: calc(var(--size) / -3);
        top: calc(var(--size) / -3);
        background-color: rgba(255, 0, 0, 0.81);
        animation: dot-animation-1 ease-in-out 20s infinite;
    }

    .dot-2 {
        left: calc(var(--size) / 6);
        top: calc(var(--size) / 4);
        background-color: rgba(0, 0, 255, 0.554);
        animation: dot-animation-2 ease-in-out 12s infinite;
    }

    .dot-3 {
        left: calc(var(--size) / 2);
        top: calc(var(--size) / -2);
        background-color: rgb(128, 0, 128);
        animation: dot-animation-3 ease-in-out 22s infinite;
    }

    .dot-4 {
        left: calc(var(--size) / -2);
        top: calc(var(--size) / 3);
        background-color: rgb(189, 66, 17);
        animation: dot-animation-4 ease-in-out 19s infinite;
    }

    .dot-5 {
        left: calc(var(--size) / -4);
        top: calc(var(--size) / 4);
        background-color: rgba(166, 0, 255, 0.5);
        animation: dot-animation-5 ease-in-out 21s infinite;
    }

    .dot-6 {
        left: calc(var(--size) / 4);
        top: calc(var(--size) / -4);
        background-color: rgba(255, 255, 0, 0.5);
        animation: dot-animation-6 ease-in-out 23s infinite;
    }
}

@keyframes dot-animation-1 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(120px, 120px);
    }
}

@keyframes dot-animation-2 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-100px, 120px);
    }

    75% {
        transform: translate(120px, -100px);
    }
}

@keyframes dot-animation-3 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    33% {
        transform: translate(50px, 80px);
    }

    66% {
        transform: translate(-70px, 50px);
    }
}

@keyframes dot-animation-4 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    33% {
        transform: translate(-60px, 40px);
    }

    66% {
        transform: translate(70px, -30px);
    }
}

@keyframes dot-animation-5 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    40% {
        transform: translate(-80px, 80px);
    }

    80% {
        transform: translate(60px, -60px);
    }
}

@keyframes dot-animation-6 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    30% {
        transform: translate(90px, -90px);
    }

    60% {
        transform: translate(-70px, 70px);
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media screen and (min-width: 600px) {
    :root {
        --size: 450px;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width: 801px) {
    .social-items-computer {
        display: flex;
        margin-top: 2em;
    }

    .main {
        display: flex;
    }

    .line {
        display: none;
    }

    .social-items-mobile {
        display: none;
    }

    .left-half {
        padding: 0em 1em;
        margin: 3em 0em 3em 4em;
    }

    .right-half {
        padding: 0em 1em;
        margin: 3em 2em 3em 1em;
    }
    .social-items-computer {
        margin-top: 9em;
    }
}

/* big landscape tablets, laptops, and desktops */
@media screen and (min-width: 920px) {
    :root {
        --size: 600px;
    }

    h1 {
        margin-right: -1em;
    }

    header {
        margin-right: -1em;
        padding-right: 7em;
    }

    .base-p {
        margin-right: -20em;
    }

    .job-title {
        margin-right: -2em;
    }

    .left-half {
        margin: 3em 0em 3em 4em;
    }

    .point-container {
        width: 35vw;
        height: 35vw;
    }

    .right-half {
        padding: 0em 1em;
        margin: 3em 0em 3em 0em;

    }

    .social-items-computer {
        margin-top: 24em;
    }
}

@media screen and (min-width: 1132px) {
    .left-half {
        padding: 0em 1em;
        margin: 3em 0em 3em 4em;
    }

    .right-half {
        padding: 0em 1em;
        margin: 3em 4em 3em 2em;
    }
}

@media screen and (min-width: 1300px) {
    .left-half {
        margin: 3em 0em 3em 6em;
    }
    
    .right-half {
        padding: 0em 1em;
        margin: 3em 4em 3em 2em;
    }
}

@media screen and (min-width: 1500px) {
    h1 {
        margin-right: -1em;
    }

    header {
        margin-right: -1em;
        padding-right: 20em;
    }

    .base-p {
        margin-right: -20em;
    }

    .job-title {
        margin-right: -2em;
    }

    .left-half {
        margin: 3em 0em 3em 11em;
    }

    .experience-container {
        margin-top: 4em;
    }

    .point-container {
        width: 35vw;
        height: 35vw;
    }

    .right-half {
        padding: 0em 1em;
        margin: 3em 4em 3em 0em;
    }
}

@media screen and (min-width: 1500px) {
    .right-half {
        margin-right: 12em;
    }
}

@media screen and (max-width: 599px) {
    .experience-container {
        margin-bottom: 4em;
    }
}